.homeContainer {
	background-image: url("../../images/background.jpg");
	background-size: cover;
	background-position: center;
	height: calc(100vh - 82.5px - 50px);
	padding-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.textContainer {
	width: 300px;
	max-width: 50%;
	margin: 0 auto;
	padding: 50px;
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0.6);
	font-size: 40px;
}
