.navbar {
  background-color: #cc0000; /* Pokédex red */
  padding: 1rem;
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: center;
}

.navLinks li {
  margin: 0 1rem;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navLinks li a:hover {
  text-decoration: underline;
}